body{
    background-color: #388e3c !important ;
}

input[type=text]{
    color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: white !important;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
  }
  h3{
    color: white;
  }